/*
    Guillaume Quint's Neonmorphism

    Una personale interpretazione del recente e tanto in voga Neumorphismo
    La scelta dei colori è stata svolta tramite il tool online https://neumorphism.io
*/


/* di default è il tema chiaro e variabili immutabili*/
:root{
    /*tema alternarivo glaciale*/
    /*
    --text-color: #161616;
    --main-color: #e6eff7;
    --shadow-light:#ffffff;
    --shadow-dark: #969ba1;
    --gradient-light: #f6ffff;
    --gradient-dark: #cfd7de;

    --shadow-offset: 1px;
    --shadow-size: 3px;
    --shadow-offset-neg: -1px;
    */
    
    
    --light-dark-icon: "🌙";
    
    --text-color: #161616;
    --main-color: #efeeee;
    --shadow-light:#ffffffaa;
    --shadow-dark: #d1cdc7aa;
    --gradient-light: #ffffff;
    --gradient-dark: #d7d6d6;
    
    --border-color: lightblue;
    --border-select-color: gray;
    --button-border-size: .03rem; 
    
    --shadow-offset: 4px;
    --shadow-size: 8px;
    --shadow-offset-neg: -4px;
    
    --button-active-color: deepskyblue;
    
    --focus-outline: fuchsia;
    
    --link-unvisited: blue;
    --link-visited: purple;
    --link-active: red;
    --link-blur-radius: 0px;
    
    --log-box-shadow-size: 30px;

    --green-shadow: #00ff007f;
    --red-shadow: #ff00007f;
    
    --info-text-color: dodgerblue;
    --success-text-color:green;
    --error-text-color:darkred;
    
    border-radius: 5px;
    
}


/* tutte le modifiche da apportare se si sceglie un tema scuro */
.dark-mode {
    /*
    --text-color: lightgray;
    --main-color: #2b2b2b;
    --shadow-light:#3a3a3a;
    --shadow-dark: #1c1c1c;
    --gradient-light: #2e2e2e;
    --gradient-dark: #272727;
    
    
    
    --text-color: lightgray;
    --main-color: #26282b;
    --shadow-light:#3d4045;
    --shadow-dark: #0f1011;
    --gradient-light: #292b2e;
    --gradient-dark: #222427;
    
    --border-color: darkslategray;
    
    --text-color: lightgray;
    --main-color: #1a1625;/*forse conviene desaturare un po' 
    --shadow-light:#2a233b;
    --shadow-dark: #0a090f;
    --gradient-light: #1c1828;
    --gradient-dark: #171421;
    */
    
    --light-dark-icon: "☀️";
    

    --text-color: lightgray;
    --main-color: #292a38; /* less saturated proposition: #26282b */ /*leaning towards achromatic yt-inspired: #222222 */
    --shadow-light:#42435a;
    --shadow-dark: #101116;
    --gradient-light: #2c2d3c;
    --gradient-dark: #252632;
    
    --border-color: darkslateblue;
    
    --shadow-offset: 2px;
    --shadow-size: 5px;
    --shadow-offset-neg: -2px;
    
    --button-active-color: cyan;
    
    --focus-outline: cyan;
    
    
    --link-unvisited: deepskyblue;
    --link-visited: orchid;
    --link-active: lime;
    
    --info-text-color: aqua;
    --success-text-color:greenyellow;
    --error-text-color:hotpink;

}

/*body{
    max-width: 700px;
    margin: 0 auto;
}*/

#index-btn{
    position: absolute;
    top: 1rem;
    left: 1rem;

}

#index-btn > img{
    width: 3rem;
}

.light-switch{
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.light-switch::after{
    content: var(--light-dark-icon);
    font-size: .75rem;
}

html {
    background: var(--main-color);
    /*background-image: url(../img/paper-fibers.png);
    background-blend-mode: overlay;*/
    color: var(--text-color);
    font-family: sans-serif;    /* in attesa di un font specifico */
}

*{
    transition: all .2s ease-in-out;    /*per sicurezza, rende ogni cambiamento meno aggressivo */
}

#offers{
    margin-top: 4rem;
}

#notif-container{
    position: relative;
    width: 0px;
    height: 0px;
    top: -.4rem;
    left: 3.5rem;
}

.message-bar {
    position: sticky;
    bottom: 0;
    padding-bottom: 4rem;
}

#main-h1{
    text-align: right;
    font-family: 'Fredoka One';
    background: -webkit-linear-gradient(#2cebcc, #256ad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#index-page > div {
    width: 95%;
}

#main-nav{
    /*
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: block;
*/
    position: fixed;
    left: 50%;
    transform: translate(-51%, 0);
    /* padding-left: 10%;
    padding-right: 10%; */
    text-align: center;
    display: block;
    bottom: 0;
    width: 300px;
    height: 2.75rem;
    margin: 1rem;

    transition: left 2s;

}

#index-btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#access-btn{
    --main-color: #6495ed;
    color: white;
    --gradient-light: #6b9ffe;
    --gradient-dark: #5a86d5;
    transition: all 0s;
}

#access-btn:active{
    --shadow-light: #73abff;
    --shadow-dark: #557fc9;
}

#chatpickercontainer:empty:before{
    content: 'Pare che tu non possa ancora chattare con nessuno...'
}

#checkcontainer > table {
    width: 100%;
}

.table-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#role-view > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#role-view > div > div {
    width: 47.4%;
}

@media (min-width: 1030px){
    #role-view > div > div:last-child { flex-grow: 1; }
}

@media all and (max-width: 800px) {
    #role-view > div > div { flex-grow: 1; }
}

.chat-picker, .message-bar{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.message-bar > textarea{
    flex-grow: 1;
}

.chat-picker > div {

    font-weight: 600;
    line-height: 1;
    margin: 5px;
}

.chat-picker > div:last-child{
    margin-left: auto;
    color: grey;
}

#msgcontainer{
    display: flex;
    flex-flow: column;
    max-height: 30vh;
    overflow-y: scroll;
}

.message{
    align-self: flex-start;
}

.message.io{
    align-self: flex-end;
}

.message.date{
    align-self: center;
}

.message > p{
    height: 0;
    line-height: 0;
}

.metadata, .metadata > i{
    font-size: x-small;
}

.io > .metadata {
    text-align: right;
}


:not(thead) > tr:nth-of-type(2n+1) {
    background-color: rgba(108, 114, 147, 0.15);
}

td {
    padding: 1rem;
}

caption {
    text-align: left;
    font-size: large;
}

body, .main-container{
    margin: auto;
    max-width: 1000px;
    padding: 1rem;
    padding-bottom: 7rem;
    padding-top: 0;
}

@media all and (max-width: 1200px) {
    body { padding-top: 2.5rem; }
}


button, input, select{
    cursor: pointer;
    transition: background .25s ease-in-out;
}

button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
}

/*button:hover{
    /*PER ABILITARE BORDER-ON-HOVER 1/2:    border: var(--button-border-size) solid var(--border-select-color);
}*/


/* componente elementare di un box o pill 
Nel caso di un solo carattere, usare circle o square*/

button {
    min-width: 2rem;    /* necessario perchè i pulsanti con un solo carattere siano regolari (quadrati/cerchi) */
}

/*VVV mutuamente esclusivi VVV*/
.box, select, button, input, textarea, table, .error-box, .success-box, .info-box, nav, #chatpickercontainer, .chat-picker, #role-view > div > div, caption, #preferences-container, #access-container, #msgcontainer, .stanza, .menu, .tooltiptext, #missingadmin, #missingpersonel, .tavolo, #index-page > div{
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 8px;
    border: 0; /*PER ABILITARE BORDER-ON-HOVER 2/2:    border: var(--button-border-size) solid var(--main-color);*/
    margin: 5px;

    /*display: inline-block;*/
    line-height: 1rem;
    color: var(--text-color);
    --ring-glow-color: var(--button-active-color);
}

.pill, .light-switch, :not(nav) > input[type="radio"] + label, input[type="checkbox"] + label, #notif-unread:not(:empty), #main-nav, #logo-title, .message, .notif-unread, #msg-box, #key:not(:empty), #index-page > div > h2{
    background-color: var(--main-color);
    border-radius: 2rem;
    padding: 8px;
    border: 0;
    margin: 5px;
    
    display: inline-block;
    line-height: 1rem;
    color: var(--text-color);
    --ring-glow-color: var(--button-active-color);
}



/*^^^*/

/* componenti specifiche di un box, associati automaticamente ad alcuni elementi html */
/*VVV mutuamente esclusivi VVV*/
.box-flat, .multi-switch, select, button, input:focus, textarea:active, input[type="submit"], input[type="checkbox"]:enabled + label, input[type="radio"]:enabled + label:not(.rtavolo), label.rtavolo.libero, textarea:focus, table, .chat-picker, #role-view > div > div, #preferences-container, #logo-title, .message, #index-page > div, #index-page > div:hover > h2{    
    box-shadow:  var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark), 
    var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
}


.box-convex, button:enabled:hover, input[type="submit"]:enabled:hover, input[type="checkbox"]:enabled:hover + label, input[type="radio"]:enabled:hover + label{
    background: linear-gradient(145deg, var(--gradient-light), var(--gradient-dark));
    box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark),  
    var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
}    

.box-concave, select:hover{
    background: linear-gradient(145deg, var(--gradient-dark), var(--gradient-light));
    box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark),  
    var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
}    

.box-ring{
    box-shadow:  var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark), 
    var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light),
    inset var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark),  
    inset                 var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
}

.box-smooth, .tavolo{
    box-shadow:  var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark), 
    var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light),
    inset var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-light),  
    inset                 var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-dark);
    padding: 5px;  
}

.box-indent, select:focus, input, /*input:not([type="radio"]), input:not([type="checkbox"]),*/ button:enabled:active, input[type="submit"]:enabled:active, input[type="checkbox"]:enabled:active + label, input[type="radio"]:enabled:active + label, input:enabled:checked + label:not(.release-press), textarea, #notif-unread:not(:empty), nav, #chatpickercontainer, .chat-picker:hover, #access-container, #msgcontainer, .notif-unread, .stanza, .menu, .tooltiptext, #missingadmin, #missingpersonel, #index-page > div > h2{
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark),  
    inset                 var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
}
/* per i messaggi con vari livelli di rilievo */

#alert-container{
    right: 0px;
    bottom: 0px;
    position: fixed;
    margin: 1rem;
    max-width: 500px;
    pointer-events: none;
}
.error-box, .ordinato{
    border-width: 0;
    background-color: #ff00007f;
    --shadow-dark: #ff00007f;
    box-shadow: 0px var(--shadow-offset) var(--log-box-shadow-size) var(--shadow-dark);
    color: var(--error-text-color);
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.success-box, .servito, #key:not(:empty){
    border-width: 0;
    background-color: #00ff007f;
    --shadow-dark: #00ff007f;
    box-shadow: 0px var(--shadow-offset) var(--log-box-shadow-size) var(--shadow-dark);
    color: var(--success-text-color);
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.info-box, .pronto{
    border-width: 0;
    background-color: #00ffff7f;
    --shadow-dark: #00ffff7f;
    box-shadow: 0px var(--shadow-offset) var(--log-box-shadow-size) var(--shadow-dark);
    color: var(--info-text-color);
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*^^^*/

/* disattivato di default, evidenzia il contorno di un box  Più leggibile ma meno m i n i m a l*/
.box-border, input:required{
    border: var(--button-border-size) solid var(--border-color);
}

.box-border:focus, .box-border:hover{
    --border-color: var(--focus-outline);
}

input:required:invalid[value], input.invalid{
    --border-color: red;
}

input:required:valid[value], input.valid{
    --border-color: green;
}

.tooltip + .tooltiptext{
    display: none;
}

.tooltip:focus + .tooltiptext{
    position: absolute;
    display: inline-block;
}

.tooltiptext > ul{
    padding-inline-end: 30px;
}

/* Comportamento personalizzato per pulsanti conferma e cancellazione */
.ring-glow, .button-confirm:hover, .button-cancel:hover, label.rtavolo.pronto{
    box-shadow: 0px 0px var(--log-box-shadow-size) var(--ring-glow-color);
}
label.rtavolo.ordinato{
    --ring-glow-color: var(--red-shadow);
    box-shadow: 0px 0px var(--log-box-shadow-size) var(--ring-glow-color);
}
label.rtavolo.servito{
    --ring-glow-color: var(--green-shadow);
    box-shadow: 0px 0px var(--log-box-shadow-size) var(--ring-glow-color);
}
.button-confirm::before{
    content: "✔";
}
.button-confirm:active{
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark),  

    inset                 var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);

}
.button-confirm{
    transition: all 0s; 
    --button-active-color: lime;
    text-align: center;
    min-width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    padding: 0px;
    --ring-glow-color: var(--green-shadow);
    /*--shadow-dark: var(--green-shadow);
    --shadow-light: var(--green-shadow);*/
    /*text-shadow: 0px 0px var(--log-box-shadow-size) lime;*/ /*assolutamente eliminabile*/
    /*--main-color: #00ff0011; /*eliminabile per incoerenza/distrazione */
}
.button-cancel::before{
    content: "✖";
}
.button-cancel:active{
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark),  
    
    inset                 var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
    
}
.button-cancel{
    transition: all 0s; 
    --button-active-color: red;
    text-align: center;
    min-width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    padding: 0px;
    --ring-glow-color: var(--red-shadow);
    /*--shadow-dark: var(--red-shadow);
    --shadow-light: var(--red-shadow);*/
    /*text-shadow: 0px 0px var(--log-box-shadow-size) red;*/ /*assolutamente eliminabile*/
    /*--main-color: #ff000011; /*eliminabile per incoerenza/distrazione */
}



/* comportamento generale per tutti i tasti con varianti colorate */
.glow-fuchsia{
    --button-active-color: fuchsia;
}
.glow-red, #btn-logout, #btn-index-logout{
    --button-active-color: red;
}
.glow-orange, .light-switch:active{
    --button-active-color: orange;
}
.button-glow, button:active, input[type="submit"]:active, input:checked + label, input[type="radio"]:checked + label{
    color:var(--button-active-color);
    text-shadow: 0px 0px var(--log-box-shadow-size) var(--button-active-color);/*,
                0px 0px 50px var(--button-active-color); /* forse overkill, ma altrimenti il verde non risalta abbastanza */
    transition: text-shadow 0.2s ease-in-out;
}

#btn-logout > label.material-icons {
    transition-duration: 0s;
}

/* utile per le notifiche */
.badge, #notif-unread:not(:empty), .notif-unread{
    display: inline-block;
    position: relative;
    padding: .275rem .425rem;
    font-size: .7rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding-right: .875em;
    padding-left: .875em;
    border-radius: 10rem;
    color: red;

}

#notif-unread:not(:empty){
    position: absolute;
    top: 0;
    left: 0;

}

input[type="radio"] + label , input[type="checkbox"] + label {
    user-select: none;
    cursor: pointer;
    min-width: 1rem;
}

input[type="radio"], input[type="checkbox"], [hidden]{
    display: none;
}



/* Maghit consider changing link behaviour later.. */
a{
    text-decoration: unset;
    color: var(--link-unvisited);
    text-shadow: 0px 0px var(--link-blur-radius) var(--link-unvisited);
}

a:visited{
    color: var(--link-visited);
    text-shadow: 0px 0px var(--link-blur-radius) var(--link-visited);
}

a:active{
    color: var(--link-active);
    text-shadow: 0px 0px var(--link-blur-radius) var(--link-active);
}

#logo-title{
    width: 75%;
    padding: 10%;
}

#logo-title:hover, #logo-title:focus {
    box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
}

#access-container, #preferences-container{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 200px;
    padding: 1rem 5rem 1rem 5rem; 
    margin-top: 6rem;
}

#preferences-container{
    margin-top: 5rem;
}

@keyframes fadein{
    from{opacity: 0}
    to{opacity: 1}
}

.fade-in{
    animation: fadein 1s;
}

.fade-out{
    opacity: 0;
    transition: opacity 1s;
}


#btn-logout {
    left: 100%;
    position: relative;
}

.material-icons{
    user-select: none;
}



/*-------input range (non usato per il progetto RepEat..)----------*/

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 90%;
    border-radius: 1rem;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    /*box-shadow: 0px var(--shadow-offset) var(--log-box-shadow-size) red;*/
    background: gray;
    border-radius: 1.3px;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-size) var(--shadow-dark), var(--shadow-offset-neg) var(--shadow-offset-neg) var(--shadow-size) var(--shadow-light);
    border: 1px solid gray;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background: var(--main-color);
    cursor: pointer;

  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }